* {
  font-family: "Inter", sans-serif;
  color: white;
}

body {
  background-color: #282828;
  height: 100%;
  width: 100%;
  position: fixed;
  cursor: url(./img/key.svg), auto;
}

.navbar {
  position: fixed;
  padding: 30px;
  width: 100%;
}

.navbar-list {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 20px;
  width: 100%;
}

.twitter {
  cursor: url(./img/twitter.svg), auto;
}

.discord {
  cursor: url(./img/discord.svg), auto;
}

a {
  text-decoration: none;
}

main {
  height: 100%;
  width: 100%;
  display: flex;

  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.left-container {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.right-container {
  display: flex;
  width: 47.5%;
  justify-content: space-between;
}

.top-container h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.haschat {
  text-align: start;
}

.haschat {
  text-align: end;
}

h3 {
  font-size: 100px;
}

h5 {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  text-align: center;
}

h5 span {
  font-weight: bolder;
  color: #00bfff;
  font-size: 25px;
}

@media all and (max-width: 500px) {
  h3 {
    font-size: 60px;
  }
  h5 {
    font-size: 15px;
    display: inline-block !important;
  }
  h5 span {
    font-size: 20px;
  }

  .main-container {
    padding: 10px;
  }

  .bottom-container {
    display: flex;
  }
}
